{% extends 'base.html' %}
{% block title %}Matches{% endblock %}
{% block content %}
  <h4>Требуют вашего подтверждения</h4>
  {% for match in matches %}
    <h3><a href="/{{ match.p1 }}">{{ match.p1 }}</a> - <a href="/{{ match.p2 }}">{{ match.p2 }}</a></h3>
    <b><p>{{ match.score1 }} - {{ match.score2 }}</p></b>
    <p>{{ match.date }}</p>
    <h5><a href="{% url 'confirm_match' match.slug %}">Confirm</a><h5>
  {% endfor %}
  <h4>Ожидают подтверждения соперника</h4>
  {% for match in matches2 %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h3><a href="/{{ match.p1 }}">{{ match.p1 }}</a> - <a href="/{{ match.p2 }}">{{ match.p2 }}</a></h3>
    <b><p>{{ match.score1 }} - {{ match.score2 }}</p></b>
    <p>{{ match.date }}</p>
    <h5><a href="{{ match.get_absolute_url }}">Detail</a><h5>
    </div>
  </div>
  {% endfor %}
{% endblock %}
