{% extends "base.html" %}

{% block title %}
    Homepage
{% endblock %}


{% block content %}
    <h2 align="center" style="color:Black">Posts:</h2>
    <div class='main_blok'>
    {% if request.user.is_staff %}
    <form action="{% url 'create_post_url' %}">
      <button>Create post</button>
    </form>
    {% endif %}
    {% for post in posts %}
    <div class="card" style="width: 18rem;">
      {% if post.photo %}
            <img src="{{ post.photo.url }}" width="600" height="338">
              </img>
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text"> {{ post.body }} </p>
        <a href="{{ post.get_absolute_url}}" class="btn btn-primary">Читать больше</a>
      </div>
    </div>
    {% endfor %}

{% endblock %}
