{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Confirm match{% endblock %}
{% block content %}
  {{ match.date }}
  <a href="/{{ match.p1 }}">{{ match.p1 }}</a> - <a href="/{{ match.p2 }}">{{ match.p2 }}</a>
  {{ match.score1 }} - {{ match.score2 }}
{% if video %}
<div id="video_div">
  <video controls="controls" width="600" height="338">
    <source src="{{ video.url }}" type='video/ogg; codecs="theora, vorbis"'>
    <source src="{{ video.url }}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    <source src="{{ video.url }}" type='video/webm; codecs="vp8, vorbis"'>
    Тег video не поддерживается вашим браузером.
  </video>
</div>
{% endif %}
<form action="{% url 'confirm_match' match.slug %}" method="post">
  {% csrf_token %}
  <input name="confirm_btn" type="submit" value="Confirm" class="btn btn_primary"></input>
  </form>

</form>
{% endblock %}
