{% extends 'base.html' %}
{% block title %}Players{% endblock %}
{% block content %}
{% for player in players %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    {% if player.avatar %}
      <img src="{{ player.avatar.url }}" width="100" >
        </img>
    {% endif %}
    <h1><a href="{% url 'profile' player %}">{{ player.username }}</a></h1>
    <h3>{{ player.first_name }} {{ player.last_name }}</h3>
    <p>{{ player.info }}</p>
    <h4><a href="{% url 'user_statistics' player %}">{{ player }} statistics</a></h4>
  </div>
</div>
{% endfor %}
{% endblock %}
